# This is a basic workflow to help you get started with Actions
# https://github.com/marketplace/actions/maven-release
name: Release

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v5
      with:
        ref: main
        fetch-depth: '0'
    - uses: actions/setup-java@v4
      with:
        java-version: "11"
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml

    - name: Configure Git user
      run: |
        git config user.email "actions@github.com"
        git config user.name "GitHub Actions"

    - name: Install graphviz
      uses: kamiazya/setup-graphviz@v1

    - name: Publish JAR
      run: mvn -B release:prepare release:perform --file pom.xml
      env:
        GITHUB_USERNAME: ${{ github.actor }}
        GITHUB_TOKEN: ${{ github.token }}
